
.root {
    box-sizing: border-box;
}

.layout-header {
    width: 100vw;
    position: fixed;
    top: 0px;
    transition: top .3s;
    z-index: 1000;
}

.layout-navi {
    display: flex;
    justify-content: center;
    background-color: black;
}

@media (min-width: 1024px) {
    .layout-navi {
        padding: 10px 40px
    }
}

@media (min-width: 600px) {
    .layout-navi {
        height: 90px;
    }
}    

.navigation-bar {
    display: flex; 
    max-width: 1200px;
    width: 100%;
}

img {
    overflow: clip;
    overflow-clip-margin: content-box;
}

.v_align {
    display: flex;
    align-items: center;
}

.logo-mobile {
    width: 38px;
    height: 41px;

}
@media (min-width: 600px) {
    .logo-mobile {
        display: none;
    }
}

.logo-desktop {
    width: 120px;
    height: 64px;
}

@media (max-width: 600px) {
    .logo-desktop {
        display: none;
    }
} 

.navi {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

@media (min-width: 600px) {
    .navi {
        grid-column-gap: 28px;
        column-gap: 28px;
    }
}    

.navi-login-button,
.navi-home-button,
.navi-about-button {
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
    padding: 4px;
    text-decoration: none;;
    text-transform: uppercase;
    transition: 0.5s;
    color: white;
    width: min-content;
    font-size: 12px;
    font-family: 'Oswald', sans-serif;

    &:hover {
        color: yellow;
        border: none;
        letter-spacing: 1px;
    }

}


@media (min-width: 600px) {
    .navi-login-button,
    .navi-home-button,
    .navi-about-button {
        font-weight: 400;
        font-size: 18px;
        font-family: 'Oswald', sans-serif;

        &:hover {
            color: yellow;
            box-shadow: 0 0 3px yellow, 0 0 4px yellow, 0 0 5px yellow, 0 0 10px yellow;
            border: 1px solid yellow;
            border-radius: 15%;
            letter-spacing: 1px;
        }
    }
}
